@media screen and (max-width: 767px) {
  footer {
    padding: 10px 30px 10px 30px;
    font-size: 14px;
    gap: 10px;
  }

  footer .logo {
    width: 100%;
    gap: 15px;
  }

  footer .logo img {
    width: inherit;
  }

  footer .logo .copyright {
    font-size: 10px;
  }

  footer ul.information {
    width: 100%;
  }

  footer ul.information li a {
    gap: 5px;
    font-size: 10px;
    width: inherit;
  }

  footer ul.information li a img {
    width: calc(34px / 2);
  }
}
