* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

header,
section#jumbotron,
section#description,
section#products,
section#gallery,
footer {
  padding: 0 360px 0 360px;
  background-color: var(--sand);
  height: calc(1024px - 90px);
}

.button {
  border-radius: 0px 12px;
  display: inline-flex;
  padding: 15px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #fff;
  text-align: center;
  border: 1px solid transparent;
  font-size: 21px;
  font-family: "Source Sans", sans-serif;
  font-weight: 500;
  cursor: pointer;
}

.button-secondary {
  background: #8e4956;
}

.button-primary {
  background: #c30;
}

.underlined {
  position: relative;
}

.underlined::after {
  content: "";
  position: absolute;
  top: 46px;
  bottom: 0;
  left: 0;
  width: 138px;
  height: 4px;
  border-radius: 4px;
  text-align: center;
  background-color: #c30;
}

.underlined.underline-center::after {
  left: 50%;
  transform: translateX(-50%);
}

.underlined.underline-left::after {
  width: 76px;
  top: 36px;
}
