@import url("_reset.css");
@import url("_normalize.css");
@import url("_root.css");
@import url("_font.css");
@import url("_global.css");
@import url("./styles/index.css");
@import url("./breakpoints/index.css");

.hamburger {
  padding: unset;
}

.hamburger-box {
  width: 30px;
  height: auto;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: inherit;
}