@import url("./reset.css");
@import url("./normalize.css");
@import url("./root.css");
@import url("./font.css");
@import url("./global.css");
@import url("./styles/index.css");
@import url("./breakpoints/index.css");

.hamburger {
  padding: unset;
}

.hamburger-box {
  width: 30px;
  height: auto;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: inherit;
}